.deps
.libs
Makefile
autom4te.cache
config.h
config.log
config.status
ftgl.pc
libtool
stamp-h1
*.o
*.lo
*.la
demo/c-demo
demo/simple
demo/FTGLDemo
demo/FTGLMFontDemo
test/CTest
test/CXXTest
docs/stamp-*
docs/doxygen.cfg
docs/images/*.eps
docs/html
docs/latex
